.button {
    text-align: left;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
    transition-duration: 0.2s;
    font-weight: bold;
}

.button:hover {
    background-color: skyblue; /* Green */
    color: white;
  }

.flexBox {
    display: flex;
    background-color: #404040;
    height: 60px;
    justify-content: space-between;
}

.flexBox2 {
    display: flex;
}

.img {
    margin-right: 20px;
    margin-top: 5px;
    height: 50px;
    width: 50px;
}

.text {
    margin-top: 17px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 600px;
    height: 470px;
    z-index: 98;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
}

.item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}